@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box !important;
  transition: all 0.3s ease;
  font-family: var(--fontFamily);
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  /* Cor de fundo do autocomplete */
  /* Cor do texto do autocomplete */
}
* ::-webkit-scrollbar {
  display: none !important;
}
* ::-webkit-scrollbar-track {
  background: transparent;
}
* ::-webkit-scrollbar-thumb {
  background: #888;
}
* ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
* input:-webkit-autofill {
  box-shadow: none;
}
* input:-webkit-autofill {
  -webkit-text-fill-color: none;
}

:root {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease !important;
  font-family: var(--fontFamily);
  --corLaranja: rgb(255, 92, 1);
  --corLaranja100: rgb(254, 157, 102);
  --corLaranja200: rgb(217, 51, 0);
  --corVerde: rgb(32, 217, 42);
  --corVerde100: rgb(114, 254, 119);
  --corVerde200: rgb(23, 150, 28);
  --sombraLaranja: rgba(255, 92, 1, 0.2);
  --sombraVerde: rgba(32, 217, 42, 0.2);
  --fundoVerde: hsl(122, 100%, 97%);
  --fundoLaranja: hsl(22, 100%, 97%);
  --fundoFosco: rgb(255, 255, 255, 0.85);
  --gadrientLaranja: 45deg, rgb(254, 157, 102), rgb(255, 92, 1), rgb(217, 51, 0);
  --gadrientVerde: 45deg, rgb(114, 254, 119), rgb(32, 217, 42), rgb(23, 150, 28);
  --fontFamily: "Poppins", Arial, Helvetica, sans-serif;
}

.purple:root {
  --corLaranja: #c402fc;
  --corLaranja100: #df6cff;
  --corLaranja200: #9500be;
  --corVerde: #6c0cf2;
  --corVerde100: #ab70ff;
  --corVerde200: #4c00b6;
  --sombraLaranja: rgba(196, 2, 252, 0.3);
  --sombraVerde: rgba(108, 12, 242, 0.3);
  --fundoVerde: hsl(265, 91%, 93%);
  --fundoLaranja: hsl(287, 98%, 93%);
  --gadrientLaranja: 45deg, #df6cff, #c402fc, #9500be;
  --gadrientVerde: 45deg, #ab70ff, #6c0cf2, #4c00b6;
}

.toast {
  background-color: #030303;
}

.toast-success {
  background-color: var(--corVerde) !important;
}

.toast-error {
  background-color: var(--corLaranja) !important;
}

.toast-info {
  background-color: #2f96b4;
}

.toast-warning {
  background-color: #f89406;
}

body {
  margin: 0;
  padding: 0;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  background-color: var(--fundoVerde);
}

.container {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  width: 130%;
  height: 200px;
  border-radius: 10rem;
  top: 100px;
  left: -100%;
  -webkit-animation: bar 15s infinite;
          animation: bar 15s infinite;
  background-image: linear-gradient(var(--gadrientLaranja));
  position: fixed;
}

.bar2 {
  width: 130%;
  height: 200px;
  border-radius: 10rem;
  bottom: 100px;
  left: -100%;
  animation: bar 15s infinite reverse ease;
  background-image: linear-gradient(var(--gadrientVerde));
  position: fixed;
}

@-webkit-keyframes bar {
  0% {
    left: -130%;
  }
  100% {
    left: 130%;
  }
}

@keyframes bar {
  0% {
    left: -130%;
  }
  100% {
    left: 130%;
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo-cont {
  width: 150px;
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.b1 {
  width: 70px;
  height: 45px;
  background-image: linear-gradient(var(--gadrientVerde));
  background-size: 400% 400%;
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
  border-radius: 0 10rem 10rem 0;
}

.b2 {
  width: 70px;
  height: 45px;
  background-image: linear-gradient(var(--gadrientVerde));
  background-size: 400% 400%;
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
  border-radius: 0 10rem 10rem 0;
}

.d {
  width: 70px;
  height: 90px;
  border-radius: 0 10rem 10rem 0;
  background-image: linear-gradient(var(--gadrientLaranja));
  background-size: 800% 800%;
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background-color: var(--fundoFosco);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  width: 18.75rem;
  height: 25rem;
  border-radius: 2rem;
  padding: 10px;
  box-shadow: 0px 0px 20px var(--sombraVerde);
}

.oneline {
  margin-top: 30px;
  width: 90%;
}

.oneline > input {
  margin: 10px 0;
  width: 100%;
  height: 40px;
  border-radius: 2rem;
  color: var(--corVerde200);
  border: 1px solid var(--sombraVerde);
  background-color: var(--fundoFosco);
  position: relative;
  box-shadow: 0 0 7px var(--sombraVerde);
  font-family: var(--fontFamily);
  font-weight: 500;
  padding-left: 20px;
}

.oneline > input::-moz-placeholder {
  color: var(--corVerde200);
  font-weight: 500;
  font-family: var(--fontFamily);
  margin-left: 20px;
  font-size: 15px;
}

.oneline > input:-ms-input-placeholder {
  color: var(--corVerde200);
  font-weight: 500;
  font-family: var(--fontFamily);
  margin-left: 20px;
  font-size: 15px;
}

.oneline > input::placeholder {
  color: var(--corVerde200);
  font-weight: 500;
  font-family: var(--fontFamily);
  margin-left: 20px;
  font-size: 15px;
}

.oneline > input:focus::-moz-placeholder {
  color: white;
  font-weight: 500;
  font-family: var(--fontFamily);
  margin-left: 20px;
  font-size: 15px;
}

.oneline > input:focus:-ms-input-placeholder {
  color: white;
  font-weight: 500;
  font-family: var(--fontFamily);
  margin-left: 20px;
  font-size: 15px;
}

.oneline > input:focus::placeholder {
  color: white;
  font-weight: 500;
  font-family: var(--fontFamily);
  margin-left: 20px;
  font-size: 15px;
}

.oneline > input:focus {
  border: none;
  outline: none;
  background-color: var(--corLaranja);
  color: white;
  font-family: var(--fontFamily);
  font-weight: 500;
  font-size: 15px;
}

/* toggle */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--fundoFosco);
  box-shadow: 0px 0px 15px var(--sombraVerde);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: var(--corVerde);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--corLaranja);
  box-shadow: 0 0 15px var(--sombraLaranja);
}

input:checked + .slider:before {
  background-color: white;
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

input:checked + .show .title {
  color: var(--corLaranja);
}

.show .title {
  margin: 10px;
  color: var(--corVerde);
  font-family: var(--fontFamily);
  font-weight: bold;
  margin-left: 20px;
  font-size: 15px;
}

.submit {
  width: 90%;
  height: 40px;
  border-radius: 10rem;
  border: none;
  background-color: var(--corVerde);
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;
}

.submit:hover {
  cursor: pointer;
  background-color: var(--corVerde200);
  transform: translateY(-2px);
  box-shadow: 0 0 5px var(--sombraVerde);
}

/* sidenav */
#sidebar .logo-cont-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  height: 150px;
}

.bar-cont {
  margin: 0;
  padding: 0;
}

#sidebar {
  width: 300px;
  min-height: 100vh;
  max-height: 100vh;
  background-color: var(--fundoVerde);
  z-index: 10;
  position: relative;
  overflow: auto;
}
#sidebar::-webkit-scrollbar {
  display: none;
}

#sidebar .list {
  font-family: var(--fontFamily);
  background-color: transparent;
  border-radius: 0 0 0 0;
  cursor: pointer;
  color: var(--corVerde);
  list-style: none;
  font-weight: bold;
  font-size: 16px;
  padding: 16px;
  background-color: transparent;
  border-radius: 0 20rem 20rem 0;
  transition: all 0.3s ease;
  position: relative;
  z-index: 40;
  display: flex;
  align-items: center;
}

#sidebar .list:hover {
  background-color: var(--sombraVerde);
  transition: all 0.3s ease;
}

#sidebar .list::before {
  content: "";
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  z-index: -1;
}

#sidebar .list::after {
  content: "";
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: -2;
}

#sidebar .list.active {
  color: white;
  transition: all 0.3s ease;
  transition-delay: 10s;
}

#sidebar .list.active:hover {
  background-color: var(--sombraLaranja);
  transition: all 0.3s ease;
  transition-delay: 10s;
}

#sidebar .list.active::before {
  background-color: var(--corLaranja);
  border-radius: 0 20rem 20rem 0;
  transform: translateX(0);
  transition: all 0.3s ease;
  transition-delay: 10s;
}

#sidebar .list.active::after {
  background-color: var(--sombraLaranja);
  transform: translateX(0);
  filter: blur(5px);
  border-radius: 0 20rem 20rem 0;
  transition-delay: 10s;
}

#sidebar .material-symbols-rounded {
  font-size: 30px !important;
  margin-right: 20px;
  transition: all 0.3s ease !important;
}

.cont {
  width: 100%;
  height: 95vh;
  position: relative;
  overflow: auto;
  margin: 1rem;
  background-color: var(--fundoFosco);
  box-shadow: 0 0 20px var(--sombraVerde);
  border-radius: 1rem;
}

/* home */
.cont .home-banner {
  width: 100%;
  border-radius: 1rem;
}

.livros .options {
  border-radius: 1rem;
  width: 100%;
  height: 110px;
  background-color: var(--fundoFosco);
  display: flex;
  align-items: center;
}
.livros .options .option-item {
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 1rem;
  width: 90px;
  height: 90px;
  margin: 10px;
  background-color: var(--corVerde);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.livros .options .option-item span {
  font-size: 35px;
  margin: 3px;
}
.livros .options .option-item label {
  font-size: 15px;
  text-align: center;
  font-family: var(--fontFamily);
  font-weight: bold;
}
.livros .options .option-item:hover {
  background-color: var(--corLaranja);
  transform: translateY(-2px);
  box-shadow: 0 0 15px var(--sombraLaranja);
}
.livros .options .option-item:active {
  background-color: var(--corLaranja200);
  transform: translateY(1px);
}
.livros .search {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  transition: all 0.3s ease;
  font-family: var(--fontFamily);
}
.livros .search .icon {
  min-width: 50px;
  min-height: 50px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 0 0 10px var(--sombraVerde);
  border-radius: 5rem;
  background-color: var(--fundoFosco);
  color: var(--corVerde);
  transition: all 0.3s ease;
}
.livros .search .icon:hover {
  box-shadow: 0 0 10px var(--sombraLaranja);
  cursor: pointer;
  background-color: var(--corLaranja);
  color: white;
}
.livros .search input {
  width: 90%;
  height: 100%;
  font-weight: bold;
  color: var(--corVerde);
  box-shadow: 0 0 10px var(--sombraVerde);
  border: none;
  border-radius: 5rem;
  background-color: var(--fundoFosco);
  padding-left: 10px;
  font-size: 15px;
  transition: all 0.3s ease;
  font-family: var(--fontFamily);
}
.livros .search input::-moz-placeholder {
  margin: 10px;
  font-weight: bold;
  color: var(--corVerde);
  font-size: 15px;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: var(--fontFamily);
}
.livros .search input:-ms-input-placeholder {
  margin: 10px;
  font-weight: bold;
  color: var(--corVerde);
  font-size: 15px;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: var(--fontFamily);
}
.livros .search input::placeholder {
  margin: 10px;
  font-weight: bold;
  color: var(--corVerde);
  font-size: 15px;
  transition: all 0.3s ease;
  font-family: var(--fontFamily);
}
.livros .search input:focus {
  box-shadow: 0 0 15px var(--sombraLaranja);
  transition: all 0.3s ease;
  background-color: var(--corLaranja);
  color: white;
  border: none;
  outline: none;
  font-family: var(--fontFamily);
}
.livros .search input:focus::-moz-placeholder {
  color: white;
}
.livros .search input:focus:-ms-input-placeholder {
  color: white;
}
.livros .search input:focus::placeholder {
  color: white;
}

.dev-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dev-banner img {
  width: 100%;
  border-radius: 1rem;
}
.dev-banner .logo {
  transform: translateY(-60%);
  width: 20%;
}
.dev-banner .logo img {
  border-radius: 10rem;
}

.modal {
  transition: all 0.5s ease;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: var(--sombraLaranja);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  margin: auto;
  z-index: 1000;
  align-items: center;
  justify-content: center;
}
.modal .modal-cont {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin: auto auto;
  background-color: var(--fundoFosco);
  min-width: 450px;
  width: 40vw;
  height: 90vh;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.modal .modal-cont .modal-header {
  border-radius: 1rem;
  background-color: var(--corVerde);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.modal .modal-cont .modal-header h1 {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.modal .modal-cont .modal-header h1 span {
  padding: 10px;
}
.modal .modal-cont .modal-header button {
  background-color: var(--corLaranja);
  color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 40px;
  height: 40px;
}
.modal .modal-cont .modal-header button:hover {
  transform: translateY(-1px);
  box-shadow: 0 0 30px var(--sombraLaranja);
}
.modal .modal-cont .modal-header button:active {
  background-color: var(--corLaranja200);
  transform: translateY(0);
}/*# sourceMappingURL=global.css.map */